<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @image.user %>
</p>

<p>
  <strong>Image file name:</strong>
  <%= @image.image_file_name %>
</p>

<p>
  <strong>Imagine file size:</strong>
  <%= @image.image_file_size %>
</p>

<p>
  <strong>Image updated at:</strong>
  <%= @image.image_updated_at %>
</p>

<p>
  <strong>Image content type:</strong>
  <%= @image.image_content_type %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
